* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* nav */
nav {
  background-color: aquamarine;
}
#nav-section {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
}
#nav-logo {
  width: 50px;
}
#nav-links {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
/* sale tab */
#all-cars-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90vw;
  margin: auto;
  flex: 1 0 auto;
}
#post-img {
  width: 40%;
}
.sale-tab {
  border: 1px solid black;
  margin: auto;
  text-align: center;
  padding: 0.7rem 0rem 4rem;
  margin: 1rem 0.5rem;
}

footer {
  flex-shrink: 0;
  background-color: aquamarine;
  height: 4rem;
}
